:host {
    margin-top: 10px;
    display: block; }

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333; }
@media (min-width: 768px) {
    h2 {
        font-size: 13px; } }
@media (max-width: 767px) {
    h2 {
        font-size: 0.92857em; } }

::slotted(uc-current-filter-item:not(:first-child)) {
    margin-top: 5px; }
