@media (max-width: 767px) {
    :host {
        padding-top: 0.85714em;
        padding-bottom: 0.85714em;
        border-bottom: 2px solid #ddd; } }

::slotted(h2) {
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase; }
@media (min-width: 768px) {
    ::slotted(h2) {
        font-size: 18px;
        margin-bottom: 13px;
        color: #333333; } }
@media (max-width: 767px) {
    ::slotted(h2) {
        font-size: 1em;
        margin-bottom: 0.28571em;
        color: #2a2a2a; } }
